    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <h4>Normal Buttons</h4>  
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <pxbutton 
        text="vm.btn1.text" 
        icon="vm.btn1.icon"
        type="vm.btn1.type" 
        on-click="vm.btn1.onClick()">
        </pxbutton>   

        <pxbutton 
        md-no-ink
        text="vm.text = 'Primary (NO - INK)'" 
        type="vm.btn1.type" 
        on-click="vm.btn1.onClick()">
        </pxbutton>   
        
        
        <pxbutton 
        text="vm.text = 'Can\'t check console'" 
        icon="vm.btn1.icon"
        type="vm.btn1.type" 
        on-disabled="vm.btn1.onDisabled"
        on-click="vm.btn1.onClick()">
        </pxbutton>  

 
        <pxbutton text="vm.btn4.text" type="vm.btn4.type"
        on-click="vm.btn4.onClick()"> </pxbutton>  
      </section>
      
      <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <h4>Raised Buttons</h4>  
      </div>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <pxbutton text="vm.text = 'Raised'" type="vm.btn2.type" on-click="vm.btn2.onClick()"> </pxbutton>   
        <pxbutton text="vm.btn3.text" type="vm.btn3.type" 
        on-click="vm.btn3.onClick()"> </pxbutton>   

        <pxbutton text="vm.btn2.text" type="vm.btn2.type" on-disabled="vm.btn2.disabled" 
        on-click="vm.btn2.onClick()"> </pxbutton>

        <pxbutton text="vm.btn5.text" type="vm.btn5.type" on-disabled="vm.btn5.onDisabled"
        on-click="vm.btn5.onClick()">
        </pxbutton> 
 
      </section>
  
      <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <h4>Fab and Fab Mini Buttons</h4>  
      </div>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <pxbutton 
          icon="vm.btn6.icon"
          type="vm.btn6.type" 
          on-click="vm.btn6.onClick()">
          </pxbutton> 

          <pxbutton 
          text="vm.btn6.text" 
          type="vm.btn6.type" 
          on-click="vm.btn6.onClick()">
          </pxbutton> 
  
          <pxbutton 
          icon="vm.btn1.icon"
          type="vm.btn6.type" 
          on-disabled="true"
          on-click="vm.btn6.onClick()">
          </pxbutton> 
  
          <pxbutton 
            icon="vm.btn7.icon"
            type="vm.btn7.type" 
            on-click="vm.btn7.onClick()">
          </pxbutton> 

          <pxbutton 
          icon="vm.icon = 'track_changes'"
          type="vm.type = 'fabRaised'" 
          aria-label="Use Android"
          on-click="vm.btn7.onClick()">
        </pxbutton> 
  
      </section>
  

      <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <h4>Icon Buttons</h4>  
      </div>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <pxbutton 
          icon="vm.btn8.icon"
          type="vm.btn8.type" 
          on-click="vm.btn8.onClick()">
        </pxbutton> 
          <pxbutton 
          icon="vm.icon = 'backup'"
          type="vm.btn7.type" 
          on-click="vm.btn8.onClick()">
        </pxbutton>
        <pxbutton 
        icon="vm.icon = 'card_travel'"
        type="vm.btn8.type" 
        on-disabled="true"
        on-click="vm.btn8.onClick()">
      </pxbutton>  
      </section>
