<div class="outer">
  <md-button 
    ng-show="{{vm.type == 'primary'}}" 
    ng-click="vm.onClick()" 
    ng-disabled="false" 
    class="md-raised md-primary">{{vm.text}}
  </md-button>
  <md-button 
    ng-show="{{vm.type == 'secondary'}}" 
    ng-click="vm.onClick()" 
    class="md-primary secondary"  
    ng-disabled="false">
    {{vm.text}}
  </md-button>
  <md-button 
    ng-show="{{vm.type == 'important'}}" 
    ng-click="vm.onClick()" 
    ng-disabled="false" 
    class="md-raised md-primary"  
    md-colors="{background: 'yellow'}" 
    md-colors-watch="false">
      <md-icon> 
        <img 
        src="{{vm.logo}}" 
        type="img/svg"/></md-icon>
      <span 
      class="seperator"> </span>
        &nbsp{{vm.text}}
  </md-button>
</div>